.pagination-bar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-bar .page-link {
  background-color: transparent;
  color: #6c757d;
  border: none;
}

.pagination-bar .page-link:hover {
  background-color: transparent;
  color: #333;
}

.pagination-bar .page-item.active .page-link {
  background-color: transparent;
  color: #333;
  border: none;
  font-weight: bold;
}

.pagination-bar .page-item.active .page-link:focus {
  box-shadow: none;
}
