/* .admin-tools-wrapper {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    height: 100%;
}

.admin-tools-container {
    margin: 0 auto;
    border-radius: none;
}

.side-bar {
    background-color: #f2f2f2;
}

.admin-tools-title {
    font-weight: 900;
    color: #685e5e;
    font-size: 18px;
    margin-bottom: 10px;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.admin-tools-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: grey;
    font-size: x-large;
} */

.admin-tools-link {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: x-large
}

.admin-tools-link:hover {
    background-color: lightgray;
}

.footer-image {
    display: block;
    margin: 0 auto;
    position: fixed;
    bottom: 250px;
    left: 0;
    right: 0;
    z-index: -1;
    width: 800px;
}

.grizti-mygtukas{
    padding: 10px 20px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 5px 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #cfcdcd;
    border-radius: 5px;
}

.grizti-mygtukas:hover {
    background-color: #e7e7e7;
}

.user-photo{
    width: 40px;
    object-fit: cover;
    margin-right: 20px;
}


.navbar {
    background-color: rgb(124, 123, 123);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 15px;
}

.navbar-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-right: 20px;
}

.navbar-item:last-child {
    margin-right: 0;
}

.navbar-item-right {
    margin-left: auto;
} */

.navbar-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-link:hover {
    color: #ccc;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.atgal-mygtukas {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bolder;
    margin-top: 7px;
    margin-left: 8px;
}

.atgal-mygtukas:hover{
    background-color: #555555;
    color: white;
}

.sukurti-mygtukas{
    color: #4CAF50;
    border: 2px solid #4CAF50;
    background-color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bolder;
    margin-bottom: 10px;
}

.sukurti-mygtukas:hover {
    background-color: #4CAF50;
    color: white;
}

.foto-mygtukas{
    color: #008CBA;
    border: 2px solid #008CBA;
    border: 2px solid #008CBA;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bolder;
    width: 100%;
}

.foto-mygtukas:hover{
    background-color: #008CBA;
    color: white;
    
 
}


.div-pagrindinis {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.div-vienas {
    display: flex;
    background-color: rgb(124, 123, 123);
    padding: 10px;
    width: 50%;
}

.div-du {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(124, 123, 123);
    padding: 10px;
    width: 50%;
}

.meno-mygtukas {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: large;
    background-color: rgb(124, 123, 123);
    margin-left: 10px;
    /* pakeistas plotis, todėl nereikia nustatyti fiksuoto plotio */
}

.meno-mygtukas:hover {
    background-color: lightgray;
}

.pag-antraste {
    text-align: center;
    margin-top: 50px;
    /* adjust as needed */
}

.pag-foto {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
